<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="form">
    <form th:action="@{/save}" th:object="${userDto}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <span>Name</span>
            <input type="text" th:field="*{name}"/>
            <p style="color:red"
            th:errors="*{name}"
            th:if="${#fields.hasErrors('name')}"></p>
        </div>
        <div>
            <span>Age</span>
            <input type="text" th:field="*{age}"/>
        </div>
        <div>
            <span>Email</span>
            <input type="text" th:field="*{email}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>