<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
<h3>Edit Product</h3>
<p>
    <a th:href="@{/blog}">
        Back to product list
    </a>
</p>
<div id="form">
    <form th:action="@{/blog/update}" th:object="${blog}"
          method="post">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Author</label>
            <input type="text" th:field="*{author}"/>
        </div>
        <div>
            <label>Category</label>
            <input type="text" th:field="*{category}"/>
        </div>
        <div>
            <label>Content</label>
            <input type="text" th:field="*{content}"/>
        </div>
        <input type="submit" value="Edit"/>
    </form>
</div>
</body>
</html>