<!DOCTYPE html>
<html lang="en">
<head th:replace="/layout :: head"></head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="form">
    <form th:action="@{/save}" th:object="${musicList}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <span>Tên bài hát</span>
            <input type="text" th:field="*{nameMusic}" required/>
            <p style="color:red"
               th:errors="*{nameMusic}"
               th:if="${#fields.hasErrors('nameMusic')}"></p>
        </div>
        <div>
            <span>Nghệ sĩ thể hiện	</span>
            <input type="text" th:field="*{NameArtist}" required/>
            <p style="color:red"
               th:errors="*{NameArtist}"
               th:if="${#fields.hasErrors('NameArtist')}"></p>
        </div>
        <div>
            <span>Thể loại nhạc</span>
            <input type="text" th:field="*{category}" required/>
            <p style="color:red"
               th:errors="*{category}"
               th:if="${#fields.hasErrors('category')}"></p>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>