<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<meta charset="UTF-8">
<title>Title</title>
<!--<link rel="stylesheet" href="bootstrap-5.1.3-dist/css/bootstrap.css">-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div th:insert="/home :: nav">

</div>

<div class="notify"style="color: red">
    <div th:if="${mess}">
        <span th:text="${mess}"></span>
    </div>
</div>
<table id = "blog" class="table table-sm , bg-body">
    <thead>
    <tr class="bg-warning">
        <th>STT</th>
        <th>Customer</th>
        <th>facility</th>
        <th>Start date</th>
        <th>End date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customerHavingBooking , rowStat : ${listContract}">
        <td th:text="${listContract.number*5+rowStat.count}"></td>
        <td th:text="${customerHavingBooking.getCustomerName()}"></td>
        <td th:text="${customerHavingBooking.getFacilityName()}"></td>
        <td th:text="${customerHavingBooking.getStartDate()}"></td>
        <td th:text="${customerHavingBooking.getEndDate()}"></td>
    </tr>
    </tbody>
</table>

<div>
    <span>
        <a th:if="${listContract.hasPrevious()}"
           th:href="@{/contract/list(page=${listContract.number}-1)}">
            Previous
        </a>
    </span>

    <span th:text="${listContract.number+1}"></span>/
    <span th:text="${listContract.totalPages}"></span>

    <span>
        <a th:if="${listContract.hasNext()}"
           th:href="@{/contract/list(page=${listContract.number+1})}">
            Next
        </a>
    </span>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>